/*Styles for show/hide header_menu animation*/
.header_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    /*opacity: 0;*/
}

.header_menu_list {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px 0 0 50px;
    transition: 0.5s;
    background-color: aquamarine;
}

.header_menu_list_visible {
    width: 100%;
    opacity: 1;
}

.header_menu_list_buttons {
    width: 60px;
    margin-bottom: 5px;
    transform: translateX(40px);
    /*transition: transform 0.5s;*/
}

.header_menu_list_buttons_visible {
    transform: translateX(10px);
}

.header_menu_list_buttons:nth-child(1) {
    /*transition: transform 0.4s 0.1s;*/
    transition: transform 0.1s;
}

.header_menu_list_buttons:nth-child(2) {
    /*transition: transform 0.3s 0.2s;*/
    transition: transform 0.3s;
}

.header_menu_list_buttons:nth-child(3) {
    /*transition: transform 0.2s 0.3s;*/
    transition: transform 0.5s;
    margin-bottom: 0;
}

.burger_button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.burger_button_stick {
    width: 30px;
    height: 4px;
    background-color: firebrick;
    transition: transform 0.5s,
                opacity 0.5s;
    transform-origin: 1px;
}

.burger_button_clicked {

}

.burger_button_clicked > :nth-child(1) {
    transform: rotate(45deg)
                translateX(5px)
                translateY(-5px);
}

.burger_button_clicked > :nth-child(2) {
    transform: translateX(-30px);
    opacity: 0;
}

.burger_button_clicked > :nth-child(3) {
    transform: rotate(-45deg)
                translateX(5px)
                translateY(5px);
}
/*Styles for show/hide header_menu animation*/
